.messageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 20px 0;
  width: 370px;
  margin-left: -15px;
  color: aliceblue;
  margin-top: 25px;
}

.myMessageBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 350px;
  margin-left: 65px;
  color: aliceblue;
  margin-top: 25px;
  
}
.messageBox .topSide {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  align-items: end;
  background-color: transparent;
  gap: 10px;
  z-index: 3;
}
.messageBox .topSide .userSide,
.myMessageBox .topSide .userSide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  margin-right: 10px;
  overflow: hidden;
}
.messageBox .topSide .userSide img,
.myMessageBox .topSide .userSide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.messageBox .topSide .textSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px 35px;
  background-color: #0d1931;
  border-radius: 15px;
  width: 240px;
}

.messageBox .topSide .textSide .reply {
  display: flex;
  align-self: flex-end;
  margin-bottom: 5px;
}

.messageBox .topSide .textSide .textZone {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-align: start;
}
.messageBox .buttomSide {
  display: flex;
  padding-left: 25px;
}
.messageBox .buttomSide .textFunctions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 120px;
  padding: 5px 5px;
  z-index: 2;
  margin-left: 15px;
}

.myMessageBox .topSide {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  align-items: end;
  background-color: transparent;
  gap: 10px;
}

.myMessageBox .topSide .textSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px 25px 30px;
  background-color: #6156d9;
  border-radius: 15px;
  width: 240px;
}

.myMessageBox .topSide .textSide .reply {
  display: flex;
  align-self: flex-end;
  margin-bottom: 5px;
}

.myMessageBox .topSide .textSide .textZone {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-align: start;
}
.myMessageBox .buttomSide {
  display: flex;
  padding-right: 55px;
  align-self: end;
  margin-top: -30px;
  z-index: 3;
}
.myMessageBox .buttomSide .textFunctions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
  padding: 5px 5px;
  order: -1;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
  margin-left: 70px;
  margin-right: 20px;
  gap: 10px;
  background-color: rgba(47, 64, 98, 0.9); /* 60% transparency */
  width: 300px;
  padding-top: 35px;
  padding-bottom: 10px;
  z-index: 0;
  border-radius: 15px;
}

.comments h3 {
  margin-bottom: -10px;
}

.comments .comment {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 15px;
}
.commentedMe {
  margin-left: 0px;
  margin-top: 0px;
  width: 80%;
  z-index: 0;
  padding-top: 0px;
}

.comments .comment .content {
  display: flex;
  justify-content: start;
  background-color: #1f2f4e;
  width: 90%;
  padding: 5px 10px;
  border-radius: 15px;
}

.newComment {
  height: 20px;
  width: 90%;
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: rgba(47, 64, 98);
  border: none;
  border-radius: 15px;
  color: aliceblue;
}

.functions {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 90%;
  padding: 5px 5px;
  z-index: 2;
  margin-left: 15px;
}

.commentFunctions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  padding: 5px 5px;
  z-index: 2;
  margin-left: 15px;
}

.editInput {
  height: 20px;
  width: 90%;
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: rgba(47, 64, 98);
  border: none;
  border-radius: 15px;
  color: aliceblue;
}

.userName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
